body {
font-family: 'Times New Roman', Times, serif;
margin: 20px;
padding: 0;
background-color: #f0f4f8;
}
h1{
    text-align: center;
    color: lightseagreen ;
}
form{
max-width: 600px;
margin: auto;
background-color:#f0f4f8;
border-radius: 0%;
box-shadow: o 4px 8px rgba(0,0,0,0.5);
}
fieldset{
    border: 2px solid #3498bd;
border-radius: 8px;
padding: 20px;
border-radius: 20px;
background-color: aliceblue;
}
legend{
    font-weight: bold;
    text-align: left;
    color: lightseagreen ;
    display: block;
}
label{
    display: block;
 margin-top: 20px ;
color: rgb(226, 131, 226);

}
input,textarea{
    width: calc(100% -1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #3498bd;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
display: inline ;
background-color: rgb(0, 140, 255);
width: 100%;
padding: 10px;
color: black;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
font-size:18px ;
font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: aquamarine;
}